{% extends "base.html" %} 

{% block title %} Home {% endblock %}


{% block content %}

<div class="top"> 
    {% if session['logged_in'] == True %}
    <a href="/logout", style="padding-left: 84%; color: red; font-size: x-large; text-decoration: none"> Log-Out </a> 

    {% else %}
        <ul>
            <li>  <a href="/"> HOME </a>  </li>
            <li>  <a href="/login"> LOG-IN </a>  </li>
            <li>  <a href="/signup"> SIGN-UP </a>  </li>
        </ul>
    {% endif %}
</div>

<br>

</div>

<h1>Hello user! <br>Welcome to your personal notes web app. <br> Start to create, save and see your notes.</h1>

<h3>
Go to the Log-In page now to recover your saved notes if you already have an account, <br>
or go to the Sign-Up page to start creating and saving your notes.
</h3>

{% endblock %}
