

<html lang="en">


<head>

    
    <title>Open a note</title>

</head>



<body>

    <button style="background-color: black; border-radius: 10%;">
        <a href="/profile" style="text-decoration: none; color: white; font-size: large;">  <text> <--- back </text>   </a>
    </button>

 

    {% for note in notes %}
    
        <article style="background-color:lightsteelblue;">
          
            <div>
                <p><b>Title:</b> {{ note.title }}</p> 
                <p><b>Creation date:</b> {{ note.creation_date.strftime('%Y-%m-%d') }}</p> 
                <p><b>Content:</b> {{ note.content }}</p> 
            </div>
            
        </article>
    {% endfor %}
    


</body>


</html>