{% extends "base.html" %}


{% block title %} Profile {% endblock %}


{% block content%}
    <div class="top"> 
        {% if session['logged_in'] == True %}
            <a href="/logout", style="padding-left: 84%; color: red; font-size: x-large; text-decoration: none"> Log-Out </a>  

        {% else %}
            <ul>
                <li>  <a href="/"> HOME </a>  </li>
                <li>  <a href="/login"> LOG-IN </a>  </li>
                <li>  <a href="/signup"> SIGN-UP </a>  </li>
            </ul>
        {% endif %}
    </div>

    <i> <h3>Welcome {{session["user"]}}</h3> </i>

    <div class="buttonsArea">
        <button class="buttons" style="background-color: gold;">
            <a href="/profile/newnote"> + <br> <span>create a new note</span>  </a>  
        </button>
    
        <button class="buttons" style="background-color: steelblue;">  
            <a href="/profile/opennotes">  <br> <span>open saved notes</span>  </a>
        </button>
    </div>
    
{% endblock%}
    
